html, body  {
    height:100%;
    padding: 0px 5px;
}

#map{
	/*width:100%;*/
    /*height:calc(100% - 0);*/
    height:500px;
    position:relative;
    top:30px;
    bottom:0;
    overflow:hidden;
    left: 0px;
    
}

#main, #main>.row {

	height:100%;
}

#right {
    top:50px;
	height:100%;
}

.navbar-form {
    margin: 0px;
    padding:0px;
}

.fly-menu{
    
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

@media only screen and (max-width: 750px) {
    #map{
        height:300px;
    }
}